# RENDER BACKEND ENV EXAMPLE
PORT=5000
MONGO_URI=your_mongodb_connection_string
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=7d
CLIENT_URL=https://your-app-name.vercel.app
NODE_ENV=production

# Cloudinary (Optional if using images)
CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=secret
